# Rust build artifacts
/target/
**/*.rs.bk
Cargo.lock

# Meson build directory
/_build/
/builddir/

# Editor files
.vscode/
.idea/
*.swp
*~

# OS specific files
.DS_Store
.directory
*thumbs.db
*desktop.ini