[Desktop Entry]
Name=Update Center
Comment=Manage system updates, firmware and drivers
Exec=gnome-update-center
Icon=org.gnome.UpdateCenter
Terminal=false
Type=Application
Categories=System;GTK;GNOME;
StartupNotify=true
X-GNOME-UsesNotifications=true
Keywords=update;upgrade;firmware;drivers;repositories;
X-Purism-FormFactor=Workstation;Mobile;